@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 400;
    src: url(/Graphik-Regular.woff2)format("woff2");
    font-display: swap
}

@font-face {
    font-family: "Graphik";
    font-style: italic;
    font-weight: 400;
    src: url(/Graphik-RegularItalic.woff2)format("woff2");
    font-display: swap
}

@font-face {
  font-family: "Graphik";
  font-weight: 500;
  src: url(/Graphik-Medium.woff2)format("woff2");
  font-display: swap
}

@font-face {
  font-family: "Graphik";
  font-weight: 700;
  src: url(/Graphik-Semibold.woff2)format("woff2");
  font-display: swap
}

html {
    box-sizing: border-box;
}

*,
  ::after,
  ::before {
    box-sizing: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    font-family: Graphik,Arial,sans-serif;
    line-height: 1;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.image {
    margin-right: 7px;
}

.headline {
    font-family: Graphik,Arial,sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: -.03em;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.headline2 {
    font-family: Graphik,Arial,sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: -.03em;
    margin-bottom: 7px;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

.headline3 {
    font-family: Graphik,Arial,sans-serif;
    font-size: 0.7rem;
    line-height: 0.9rem;
    font-weight: 300;
    letter-spacing: -.03em;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

.source {
    padding: 30px 0 0 0px;
    font-size: 0.7rem;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 0 #0000ff;
    transition: box-shadow 0.2s ease-out;
}

a:hover,
a:focus {
    color: white;
    box-shadow: inset 0 -18px 0 0 #0000ff;
    transition-timing-function: ease-in;
}

.responsive-svg-container {
    width: 100%;
    max-width: 800px;
}

.legend {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
    fill: #000;
}

.tooltip {
    background-color: white;
    font-weight: 300;
    font-size: 0.7rem;
    margin-left: 100;
    padding: 10px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: right;
    text-align: left;
    color: #000;
    background-color: #ffffff;
    box-shadow: 0.5px 1px 2px #000;
    border-radius: 15px;
    line-height: 1.4;
}

.cat_circle0,
.cat_circle1,
.cat_circle2,
.cat_circle20,
.cat_circle21 {
    fill-opacity: 1;
    stroke-opacity: 0;
    stroke-width: 2px;
    stroke: #0000ff;
    stroke-dasharray: 0;
}

.cat_circle0:hover,
.cat_circle1:hover,
.cat_circle2:hover,
.cat_circle20:hover,
.cat_circle21:hover {
    stroke-opacity: 1;
    stroke-width: 2px;
    fill-opacity: 0;
}

.text, 
.text-region, 
.text-year, 
.text-type, 
.text-category, 
.text-tech {
    font-family: Graphik,Arial,sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    fill-opacity: 1;
    color: #000;
    text-align: left;
    line-height: 2.5rem;
    letter-spacing: -.03em;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    text-align: justify;
}

.x-axis text {
    font-family: Graphik,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.03em;
    line-height: 2.5rem;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
}

.text-axis {
    font-weight: 300;
    letter-spacing: -.03em;
    line-height: 2.5rem;
    font-size: 0.8rem;
    text-align: center;
    color: #000;
}

.x-axis path {
    fill: none;
    stroke-width: 0;
    stroke-opacity: 1;
    stroke: white;
}

.x-axis line {
    fill: none;
    stroke-width: 0;
    stroke-opacity: 1;
    stroke: #011040;
    stroke-dasharray: 0;
}

@media screen and (max-width: 600px) {
    .col {
        margin-bottom: 0px;
        flex: 0 0 100%;
        max-width: 100%;
        }
 
    .headline {
        font-family: Graphik,Arial,sans-serif;
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: -.03em;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .headline2 {
        font-family: Graphik,Arial,sans-serif;
        font-size: 0.9rem;
        line-height: 2.5rem;
        font-weight: 400;
        letter-spacing: -.03em;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        display: inline-block;
        vertical-align: top;
        text-align: justify;   
    }

    .headline3 {
        font-family: Graphik,Arial,sans-serif;
        font-size: 0.5rem;
        line-height: 0.7rem;
        font-weight: 400;
        letter-spacing: -.03em;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        display: inline-block;
        vertical-align: top;
        text-align: justify;   
    }

    .source {
        padding: 20px 0 0px;
        font-size: 0.5rem;
        color: #000;
    }
    
}

@media screen and (max-width: 400px) {
    .col {
      margin-bottom: 0px;
      flex: 0 0 100%;
      max-width: 100%;
    }
 
    .headline {
        font-family: Graphik,Arial,sans-serif;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 700;
        letter-spacing: -.03em;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .headline2 {
        font-family: Graphik,Arial,sans-serif;
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: 400;
        letter-spacing: -.03em;
        margin-bottom: 20px;
        margin-top: 0px;
        margin-left: 0px;
        display: inline-block;
        vertical-align: top;
        text-align: justify;
    }

    .headline3 {
        font-family: Graphik,Arial,sans-serif;
        font-size: 0.5rem;
        line-height: 0.65rem;
        font-weight: 400;
        letter-spacing: -.03em;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        display: inline-block;
        vertical-align: top;
        text-align: justify;   
    }

    .source {
        padding: 10px 0 0px;
        font-size: 0.5rem;
        color: #000;
    }
}
